<mat-card >
  <mat-card-header>
      <mat-card-title>Blini paketen tuaj!{{totalPayment}}</mat-card-title>
  </mat-card-header>
  <ngx-paypal [config]="payPalConfig"></ngx-paypal>
  <button class="btn btn-primary" (click)="payWithPaypal()">Pay With Paypal</button>
</mat-card>
<!--<form class="paymentForm"  [formGroup]="paymentForm" (ngSubmit)="chargeCreditCard(paymentForm.value)" fxLayoutAlign="center center" fxLayoutGap="10px">-->
<!--    <mat-card-content>-->
<!--  <mat-form-field>-->
<!--  <input  formControlName="name"  matInput placeholder="Emri i Kartes"    type="name" name="name"  required/>-->
<!--</mat-form-field>-->

<!--  <ngx-stripe-card  [options]="cardOptions" [elementsOptions]="elementsOptions" ></ngx-stripe-card>-->
<!--  <mat-card-actions>-->
<!--      <button mat-raised-button color="primary" [disabled]="!paymentForm.valid">Buy now</button>-->

<!--          </mat-card-actions>-->
<!--          </mat-card-content>-->
<!--          </form>-->
<!--</mat-card>-->
