<mat-card>
  <mat-card-header>
    <mat-card-title>Rezervoni paketen totali per tu paguar :{{totalPayment}}</mat-card-title>
  </mat-card-header>
  <form class="paymentForm" [formGroup]="paymentForm" (ngSubmit)="chargeCreditCard(paymentForm.value)"
        fxLayoutAlign="center center" fxLayoutGap="10px">
    <mat-card-content>
      <mat-form-field>
        <input formControlName="name" matInput placeholder="Emri i Kartes" type="name" name="name" required/>
      </mat-form-field>
      <br/>
      <ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions"></ngx-stripe-card>
      <br/>
      <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="!paymentForm.valid">Paguaj</button>

      </mat-card-actions>
    </mat-card-content>
  </form>
  <button class="btn btn-primary" (click)="payWithPaypal()">Paguaj me Paypal</button>
</mat-card>

