<div class="container" *ngIf="travelPackageDetail">
  <a routerLink="/home">
    <button type="button" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-chevron-left"></span> Back
    </button>
  </a>
  <div class="card">
    <div class="container-fliud">
      <div class="wrapper row">
        <div class="preview col-md-6">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <!--<ol class="carousel-indicators">-->
            <!--<li data-target="#myCarousel" data-slide-to="0" class="active"></li>-->
            <!--<li data-target="#myCarousel" data-slide-to="1"></li>-->
            <!--<li data-target="#myCarousel" data-slide-to="2"></li>-->
            <!--</ol>-->

            <!-- Wrapper for slides -->
            <div class="carousel-inner">

              <div *ngFor="let img of travelPackageDetail.images;let i = index" class="item {{getActiveClass(i)}}">
                <img src="{{img}}" alt="PHOTO" style="width:100%;">
              </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>

        </div>
        <div class="details col-md-6">
          <h3 class="product-title">{{travelPackageDetail.name}}</h3>
          <p class="product-description">
            {{travelPackageDetail.description}}
          </p>
          <h3>
            Destinations
          </h3>
          <p *ngFor="let dest of travelPackageDetail.destinationList">{{dest.numberOfNights}} nights
            in {{dest.destination.name}} ({{dest.destination.city.name}}) </p>
          <h4 class="price">Price Per Person: <span>{{priceRange}}</span></h4>
          <h4>Available Dates &nbsp;<div class="btn-group">
            <label *ngFor="let date of travelPackageDetail.packageDates" class="btn btn-primary"
                   [(ngModel)]="radioModel"
                   btnRadio="{{date.id}}" tabindex="0" role="button"
                   (click)="changePrice()">{{getDateFromTime(date.arrivalTime * 1000)}}</label>

          </div>
          </h4>
          <button *ngIf="logged" class="btn btn-primary" (click)="showPopup(clients)">
            <i class="fa fa-shopping-cart">
              Buy Now!
            </i>
          </button>
          <div *ngIf="!logged" class="error">
            <p>Login To Buy</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #clients>
  <div class="container-fluid">
    <br>
    <div class="container-fluid">
      <table class="table table-striped table-bordered col-lg-4">
        <thead>
        <tr>
          <th>Emer
          </th>
          <th>Mbiemer
          </th>
          <th>Mosha
          </th>
        </tr>
        </thead>

        <tbody>

        <tr *ngFor="let field of fieldArray; let i = index">
          <td>
            <div class="input-group">
              <input [(ngModel)]="field.firstName" class="form-control" type="text" name="{{field.firstName}}"
                     placeholder="Emer" required>
            </div>
          </td>
          <td>
            <div class="input-group">
              <input [(ngModel)]="field.lastName" class="form-control" type="text" name="{{field.lastName}}"
                     placeholder="Mbiemer" required>
            </div>
          </td>
          <td>
            <div class="input-group">
              <input [(ngModel)]="field.age" class="form-control" type="number" name="{{field.age}}" placeholder="Mosha"
                     required>
            </div>

          </td>
        </tr>

        </tbody>
      </table>
  <span class="clearfix"></span>
      <div class="container-fluid" style="padding-bottom: 30px;">
        <button class="btn btn-success btn-sm" type="button" (click)="addFieldValue()" >
          Add Person
        </button>
        <span class="clearfix"></span>

        <div style="float: right">
          <button class="btn btn-primary btn-sm" type="button" (click)="openPayment()">Buy</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
