<h1>Datat E Paketave Turistike </h1>
<table class="table table-hover" cellspacing="0">
  <thead>
  <tr>
    <th>Emri</th>
    <th>Cmimi Per Person</th>
    <th>Data E Nisjes</th>
    <th>Vendet E Lira</th>
    <th>Fitimet</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let packageDate of packageDates">
    <td>{{packageDate.packageName}}</td>
    <td>{{packageDate.pricePerPerson}}</td>
    <td>{{getDate(packageDate.startTime)}}</td>
    <td>{{packageDate.numberOfPersons}}</td>
    <td>{{getMoneyString(packageDate.earnings)}}</td>
  </tr>
  </tbody>
</table>

