
<div id="wrapper">
  <div class="overlay"></div>

  <!-- Sidebar -->
  <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">
      <li class="sidebar-brand">
        <a href="#">
          Travel WW
        </a>
      </li>
      <li>
        <a class="routerA" routerLink="/home">Home</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a class="routerA" routerLink="/admin">User Management</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
      <span class="hamb-top"></span>
      <span class="hamb-middle"></span>
      <span class="hamb-bottom"></span>
    </button>
    <div class="container">
      <div class="row">

         <router-outlet></router-outlet>
      </div>
    </div>
    <div *ngIf="authority" class="mybutton">
      <a  (click)="logout()" routerLink="/home"  class="logout"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
    </div>
    <div *ngIf="!authority" class="mybutton">
      <a routerLink="/auth/login" class="login"><i class="fa fa-sign-in" aria-hidden="true"></i>Login</a>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
