<div class="container container mt-4 mb-5">
  <div class="row">
    <div class="col-md-4">
      <h3 class="display-4 text-center"> Countries</h3>
      <hr class="bg-dark mb-4 w-25">
      <ngx-select-dropdown [config]="config" [options]="countryList"
                           [(ngModel)]="selected"></ngx-select-dropdown>
    </div>
    <div class="col-md-4">
      <h3 class="display-4 text-center"> Cities </h3>
      <hr class="bg-dark mb-4 w-25">
    </div>
    <div class="col-md-4">
      <h3 class="display-4 text-center"> Destinations </h3>
      <hr class="bg-dark mb-4 w-25">
    </div>
  </div>
</div>
